.singleColumnLayout {
    height: 100%;

    padding: 0 1em;
    margin: 0 auto;

    max-width: 550px;

    display: grid;
    row-gap: 60px;

    align-items: center;

    .advanced {
        position: relative;
        top: -335px;
    }
}
